a {
  text-decoration: none;
  color: white;
}

.navbar {
  background: #43a047;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
}
